#projects{
    position: relative;
    background-color: #FFF;
    scroll-margin-top: 5rem;
}

#projects::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-text);
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  width: 100%;
  padding: 1rem 0;
}

.embla__slide {
  flex: 0 0 calc(100% / 3);
  padding: 0 0.5rem;
}

.project-card-container{ 
  margin: 0 auto;
  max-width: 1200px; 
}

.carouselBtns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 0 2rem;
}

.carouselBtn{
  color: var(--accent-orange);
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px){

  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px){

  .embla__slide {
    flex: 0 0 80%;
    padding: 0 0.3rem;
  }
}

@media (max-width: 375px) {

  .embla__slide {
    flex: 0 0 90%;
  }

}