.soft-menu-container ul {
    padding: 2rem 0;
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
}

.soft-menu-container ul li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    background: var(--accent-orange);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.soft-menu-container ul li::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--color1), var(--color2));
    opacity: 0;
    transition: 0.5s;
}

.soft-menu-container ul li::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--color1), var(--color2));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

.soft-menu-container ul li:hover {
    width: 200px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.soft-menu-container ul li:hover::before {
    opacity: 1;
}

.soft-menu-container ul li:hover::after {
    opacity: 0.5;
}

.soft-menu-container ul li .icon {
    color: var(--primary-light);
    font-size: 2rem;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.soft-menu-container ul li:hover .icon {
    transform: scale(0);
    transition-delay: 0s;
}

.soft-menu-container ul li span {
    position: absolute;
}

.soft-menu-container ul li .title {
    color: var(--primary-light);
    font-weight: var(--font-weight-text-strong);
    letter-spacing: 0.1em; 
    text-transform: uppercase;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.soft-menu-container ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;
}

@media (max-width: 768px) {

    .soft-menu-container ul {    
        max-width: 600px; 
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        justify-items: center;
        column-gap: 0rem; 
        row-gap: 2rem;    
    }
}


@media (max-width: 480px){

.soft-menu-container ul {
    max-width: 350px; 
    grid-template-columns: repeat(2, 1fr);  
}

.soft-menu-container ul li:hover {
    width: 170px;
}

}


@media (max-width: 320px){

.soft-menu-container ul li:hover {
    width: 155px;
}

} 