.project-card{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-light);
    border: 1px solid rgba(24, 70, 144, 0.2);
    border-radius: 1rem;
    aspect-ratio: 3 / 4;
    transition: all 0.3s ease;
    overflow: hidden;
}

.project-card:hover{
    border: 1px solid var(--accent-teal);
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.project-card:hover h3{
  color:var(--accent-teal);
}

.project-card article{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.project-img-container{
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(135deg, var(--accent-teal) 0%, var(--accent-blue) 100%);
  overflow: hidden
}

.project-img-container::after {
  content: '';
  position: absolute;
  inset: 0;
  transition: background-color 0.3s ease; 
  pointer-events: none; 
  z-index: 1;
}

.project-card:hover .project-img-container::after {
  background-color: rgb(55, 65, 81, 0.6);
}

.project-links-container{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease; 
  z-index: 2; 
}

.project-link{
    background-color: var(--primary-light);
    padding: 0.6em 1em;
    border-radius: 0.3rem;
    text-decoration: none;
    font-weight: var(--font-weight-text-strong);
}

.project-link i{
  padding-right: 0.5em; 
}

.project-card:hover .project-links-container{
  opacity: 1;
  pointer-events: auto;
}

.project-img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3em;
  margin-top: auto;
  padding: 1rem 0;
}

.tag{
    color: var(--accent-teal);
    background-color: var(--accent-teal-light);
    font-weight: var(--font-weight-text-strong);
    border: none;
    border-radius: 2rem;
    padding: 0.2em 1em;
}

.temp-project{
  color:var(--primary-light);
}


@media (max-width: 1024px){

  .project-card article{
    padding: 0 0.5rem;
  }

}

@media (max-width: 480px){

  .tag{
    padding: 0.1em 0.5em;
  }

}

@media (max-width: 345px) {

  .project-img-container{
    min-height: 45%;
  }

}
