.hero-bg {
    background-color: var(--primary-light);
    background-image:
        linear-gradient(
            135deg,
            var(--accent-teal-light),
            var(--accent-blue-light)
        );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

header h2{
    color: var(--primary-dark);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-h2);
    letter-spacing: var(--letter-spacing-h1);
}

.hero-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.btn-icon{
    font-size: 1.2rem;
}

@media (max-width: 700px){

    .hero-buttons-container{
        flex-direction: column;
        gap: 1rem;
    }
}