#skills{
    background-color:#FFF;
    scroll-margin-top: 5rem;
}

.filter-buttons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
    margin: 0 auto;
}

.hard-skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 1rem;
    margin: 0 auto 2rem;
    max-width: 1200px;
    min-height: 250px;
}


/* .soft-skill-card{
    background-color: #fff;
} */


@media (max-width: 480px){

.filter-buttons-container{
    padding: 1rem;
    gap: 0.5rem;
    max-width: 80%;
}

.hard-skills-container{
    gap: 0.5rem;
}

}

