#about{
    position: relative;
    background-color: var(--primary-light);
}

#about::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-text);
}

.about-container{
    max-width: 90%;
    padding: 2rem 0 ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    margin: 0 auto;
}

.photo-container{
    max-width: 350px; 
}

.photo-frame{
    position: relative;
    background: var(--accent-blue);
    background: linear-gradient(135deg, var(--accent-teal) 0%, var(--accent-blue) 100%);
    width: 100%; 
    aspect-ratio: 1 / 1; 
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.5);
    overflow: hidden;
}

.photo-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: none;
}

.highlight-text{
    font-weight: 700;
    color: var(--accent-blue);
}


@media (max-width: 480px){

    .photo-container{
        max-width: 60%; 
    }
    
    .about-container{
        max-width: 90%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0 auto;
    }

}