#about{
    position :relative;
}

#about::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-text);
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 auto;
    width: 40%;
    border: 1px solid red;
}

.photo-container,
.about-text-container {
    flex: 1; 
    /* min-width: 0;  */
}

/* .photo-container{
    display: flex;
    justify-content: flex-end;
} */


.photo-frame{
  
    width: 100%; 
    aspect-ratio: 1 / 1; 
    border: 5px solid #23746a; 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: none;
}

