*{
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

a{
    font-family: var(--font-family);
}

section{
    padding-bottom: 4rem;
}

.primary-title {
	color: var(--primary-dark);
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-h1);
    letter-spacing: var(--letter-spacing-h1);
}

.secondary-title {
	color: var(--primary-dark);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-h2);
    letter-spacing: var(--letter-spacing-h1);
    text-align: center;
    padding: 4rem 0;
    position: relative;
}

.secondary-title::after {
    content: "";
    position: absolute;
    top: calc(70%);
    height: 5px;
    width: 4rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--accent-orange);
    border-radius: 5px;
}

.section-title {
	color: var(--primary-dark);
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-h3);
    letter-spacing: var(--letter-spacing-h1);
    text-align: center;
    padding: 1rem 0;
}

.body-text {
	color: var(--primary-dark);
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    max-width: 47ch;
}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text; 
  color: transparent; 
}

.btn{
    width: 200px;  
    font-weight: var(--font-weight-text-strong);
    text-decoration: none;
    padding: 0.6em 1em;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.5);
}

.blue-btn{
    color: var(--primary-light);
    background-color: var(--accent-blue);
}

.green-btn{
    color: var(--primary-light);
    background-color: var(--accent-teal);
}

.orange-btn{
    color: var(--primary-light);
    background-color: var(--accent-orange);
}



@media (max-width: 480px){

section{
    padding-bottom: 2rem;
}

.secondary-title {
    padding: 3rem 0;
}

.section-title {
    padding: 0.5rem 0;
}

}