*{
    font-family: var(--font-family);
}

.primary-title {
	color: var(--primary-dark);
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-h1);
    letter-spacing: var(--letter-spacing-h1);
}

.secondary-title {
	color: var(--primary-dark);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-h2);
    letter-spacing: var(--letter-spacing-h1);
    text-align: center;
    padding: 2rem 0;
}

.body-text {
	color: var(--primary-dark);
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    max-width: 65ch;
}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text; 
  color: transparent; 
}

.btn{
    width: 200px;  
    border: none;
    font-weight: var(--font-weight-text-strong);
    text-decoration: none;
    padding: 0.6em 1em;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.blue-btn{
    color: var(--primary-light);
    background-color: var(--accent-blue);
}

.green-btn{
    color: var(--primary-light);
    background-color: var(--accent-teal);
}

.orange-btn{
    color: var(--primary-light);
    background-color: var(--accent-orange);
}
