footer{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-icon{
    color: var(--primary-light);
    font-size: 1.5rem;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;  
    height: 50px;  
    border-radius: 50%;;
    border:none;
    background-color: rgba(249, 250, 251, 0.2);
    cursor: pointer;
}