.hero-bg {
    background-color: var(--primary-light);
    background-image: linear-gradient(
        90deg, 
        rgba(20, 123, 99, 0.3), 
        rgba(24, 70, 144, 0.3)
    );
    background-size: 400% 400%; 
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradientMove 12s ease-in-out infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.hero-container{
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

header h2{
    color: var(--primary-dark);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-h2);
    letter-spacing: var(--letter-spacing-h1);
}

.hero-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.btn-icon{
    font-size: 1.2rem;
}