.hero-bg{
    background-color: var(--primary-light);
    background-image: var(--gradient-bg);
    height: 90vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    /* border: 1px solid red; */
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.nav button{
  flex: 1; 
}

.job-title{
    font-size: 2rem;
    font-weight: 500;
}

.hero-buttons-container{
    display: flex;
    gap: 2rem;
}

.btn-icon{
    font-size: 1.2rem;
}