.hero-bg {
    background-color: var(--primary-light);
    background-image: linear-gradient(
        135deg, 
        rgba(20, 123, 99, 0.2), 
        rgba(24, 70, 144, 0.2)
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

header h2{
    color: var(--primary-dark);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-h2);
    letter-spacing: var(--letter-spacing-h1);
}

.hero-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.btn-icon{
    font-size: 1.2rem;
}