.hero-bg{
    background-color: var(--primary-light);
    background-image: var(--gradient-bg);
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

/* .hero-bg::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-text);
} */

.hero-container{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.nav button{
  flex: 1; 
}

.job-title{
    color: var(--primary-dark);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-h2);
    letter-spacing: var(--letter-spacing-h1);
}

.hero-buttons-container{
    display: flex;
    gap: 2rem;
}

.btn-icon{
    font-size: 1.2rem;
}