.lang-container{
  padding-left: 2rem;
}

.language-dropdown {
  position: relative;
  display: inline-block;
}

.language-dropdown button {
  border: 1px solid var(--primary-dark);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-dropdown button img,
.language-dropdown .dropdown-menu div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.language-dropdown .dropdown-menu {
  position: absolute;
  top: 100%; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column;
  background-color: var(--primary-light);
  padding: 8px;
  /* margin: 8px; */
  border-radius: 1rem;
  border: 1px solid #ccc;
  z-index: 100;
}

.language-dropdown .dropdown-menu div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
