#projects{
    position: relative;
    background-color: var(--primary-light);
    scroll-margin-top: 5rem;
}

#projects::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-text);
}