#projects{
    position: relative;
    background-color: #FFF;
    scroll-margin-top: 5rem;
}

#projects::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-text);
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  width: 100%;
  align-items: stretch;
  padding: 1rem 0;
}

.embla__slide {
  flex: 0 0 calc(100% / 3);
  padding: 0 1rem;
}

.project-card-container{ 
  margin: 0 auto;
  width: 65%;
}

.project-card{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-light);
    border: 1px solid rgba(24, 70, 144, 0.2);
    border-radius: 1rem;
    aspect-ratio: 3 / 4;
    transition: all 0.3s ease;
    overflow: hidden;
}

.project-card:hover{
    border: 1px solid var(--accent-teal);
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.project-card:hover h3{
  color:var(--accent-teal);
}

.project-card article{
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.project-img-container{
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(135deg, var(--accent-teal) 0%, var(--accent-blue) 100%);
  overflow: hidden
}

.project-img-container::after {
  content: '';
  position: absolute;
  inset: 0;
  transition: background-color 0.3s ease; 
  pointer-events: none; 
  z-index: 1;
}

.project-card:hover .project-img-container::after {
  background-color: rgb(55, 65, 81, 0.6);
}

.project-links-container{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease; 
  z-index: 2; 
}

.project-link{
    background-color: var(--primary-light);
    padding: 0.6em 1em;
    border-radius: 0.3rem;
    text-decoration: none;
    font-weight: var(--font-weight-text-strong);
}
.project-link i{
  padding-right: 0.5em; 
}

.project-card:hover .project-links-container{
  opacity: 1;
  pointer-events: auto;
}

.project-img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin-top: auto;
  padding: 1.5rem 0;
}

.tag{
  color: var(--accent-teal);
    background-color: rgba(20, 123, 99, 0.2);
    border: none;
    border-radius: 2rem;
    padding: 0.2em 1em;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.temp-project{
  color:var(--primary-light);
}

.carouselBtns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding:  0 0 2rem;
}

.carouselBtn{
  color: var(--accent-orange);
  font-size: 2rem;
  cursor: pointer;
}