#projects{
    position: relative;
    background-color: #FFF;
    scroll-margin-top: 5rem;
}

#projects::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-text);
}

.project-card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0; 
  margin: 0 auto;
  width: 60%;
}

.project-card{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-light);
    border: 1px solid rgba(24, 70, 144, 0.2);
    border-radius: 1rem;
    width: 350px;
    /* aspect-ratio: 3 / 4; */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.project-card:hover{
    border: 1px solid var(--accent-teal);
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.project-card article{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.project-img-container{
  height: 50%;
}

.project-img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.tags{
  padding: 2rem 0;
  margin-top: auto;
}

.tag{
  color: var(--accent-teal);
    background-color: rgba(20, 123, 99, 0.2);
    border: none;
    border-radius: 2rem;
    padding: 0.2em 1em;
    margin-right: 0.5rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}