#skills{
    background-color:#FFF;
    scroll-margin-top: 5rem;
}

.filter-buttons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
    margin: 0 auto;
}

.filter-button{
    min-width: 150px;
    cursor: pointer;
    background-color: var(--accent-teal-light);
    border: none;
    border-radius: 2rem;
    padding: 0.2em 1em;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.filter-button:hover{
    font-weight: var(--font-weight-text-strong);
}

.active{
    background: var(--gradient-text);
    color:var(--primary-light);
    font-weight: var(--font-weight-text-strong);
    border: 1px solid var(--primary-light);

}

.hard-skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 1rem;
    margin: 0 auto 2rem;
    max-width: 1200px;
    min-height: 250px;
}

.hard-skill-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-light);
    border: 1px solid rgba(24, 70, 144, 0.2);
    width: 200px;
    height: 66px;
    padding: 1em;
    border-radius: 0.3rem;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.hard-skill-card:hover {
    border: 1px solid var(--accent-teal);
    transform: translateY(-1px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.hard-skill-card p{
    font-weight: var(--font-weight-text-strong);
}

.skill-icon {
    font-size: 2rem;  
}

.soft-skill-card{
    background-color: #fff;
}


.soft-menu-container ul {
    padding: 2rem 0;
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
}

.soft-menu-container ul li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    background: var(--accent-orange);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.soft-menu-container ul li::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--color1), var(--color2));
    opacity: 0;
    transition: 0.5s;
}

.soft-menu-container ul li::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--color1), var(--color2));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

.soft-menu-container ul li:hover {
    width: 200px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.soft-menu-container ul li:hover::before {
    opacity: 1;
}

.soft-menu-container ul li:hover::after {
    opacity: 0.5;
}

.soft-menu-container ul li .icon {
    color: var(--primary-light);
    font-size: 2rem;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.soft-menu-container ul li:hover .icon {
    transform: scale(0);
    transition-delay: 0s;
}

.soft-menu-container ul li span {
    position: absolute;
}

.soft-menu-container ul li .title {
    color: var(--primary-light);
    font-weight: var(--font-weight-text-strong);
    letter-spacing: 0.1em; 
    text-transform: uppercase;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.soft-menu-container ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;
}


@media (max-width: 768px) {

    .soft-menu-container ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        justify-items: center;
        column-gap: 0rem; 
        row-gap: 2rem;    
    }
}




@media (max-width: 480px){

.filter-buttons-container{
    padding: 1rem;
    gap: 0.5rem;
    max-width: 80%;
}

.filter-button{
    min-width: 100px;
}

.filter-button:first-of-type{
    min-width: 100%;
}

.hard-skills-container{
    gap: 0.5rem;
}

.hard-skill-card{
    width: 150px;
}

.soft-menu-container ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
        column-gap: 0rem; 
        row-gap: 1rem;    
}

.soft-menu-container ul li:hover {
    width: 150px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}


}