@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --font-family: "Outfit", sans-serif;

	--font-size-h1: 5rem;    
	--font-size-h2: 2rem; 
	--font-size-h3: 1.5rem;  
	--font-size-text: 1rem;  

    --font-weight-h1: 700;
    --font-weight-h2: 600;
    --font-weight-h3: 600;
    --font-weight-text: 300;
    --font-weight-text-strong: 500;


    /* --line-height-h1: 1.1;
    --line-height-h2: 1.2;
    --line-height-h3: 1.25;
    --line-height-text: 1.6; */
    
    --line-height-text: 1.2;

    --letter-spacing-h1: -0.03em;
    /* --letter-spacing-h2: -0.015em;
    --letter-spacing-h3: -0.01em;
    --letter-spacing-text: 0em;
    --letter-spacing-small: 0.02em; */
}