@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --font-family: "Outfit", sans-serif;

    --font-size-h1: 5rem;    
    --font-size-h2: 2rem; 
    --font-size-h3: 1.5rem;  
    --font-size-text: 1rem;  

    --font-weight-h1: 700;
    --font-weight-h2: 600;
    --font-weight-h3: 600;
    --font-weight-text: 300;
    --font-weight-text-strong: 500;
    
    --line-height-text: 1.4;
    
    --letter-spacing-h1: -0.03em;
}


@media (max-width: 480px) {

  :root {
    --font-size-h1: 3rem;   
    --font-size-h2: 1.5rem; 
    --font-size-h3: 1.2rem; 
  }

}