footer{
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem;
    gap: 2rem;
}

footer h3{
    color: var(--primary-light);
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-h3);
}

footer p.body-text{
    color: var(--primary-light);
}

.footer-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;  
    height: 50px;  
    border-radius: 50%;
    background-color: rgba(249, 250, 251, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.footer-link:hover {
    transform: scale(1.1);
}

.footer-icon{
    color: var(--primary-light);
    font-size: 1.5rem;
    line-height: 1;
}

.line-break{
    width: 40%;
    padding-top: 2rem;
    border-top: 1px solid rgba(249, 250, 251, 0.2);
}

.footer-link-GH:hover{
    background-color: var(--accent-blue);
}

.footer-link-LN:hover{
    background-color: var(--accent-teal);
}

.footer-link-GM:hover{
    background-color: var(--accent-orange);
}


@media (max-width: 480px){

.line-break{
    width: 80%;
}

}